h1,h2,h3,h5,h6{
    margin: 0;
    padding: 0;
}

.mapdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;  

}
.mapdiv path{
    fill-rule:evenodd;
    stroke: #483C32;
    stroke-width:2px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    transition: fill 0.3s;
}

.batys{
    opacity:1;
    fill:#9ef19e;
    fill-opacity:0.90597427;
}
.ortalyk{
    fill:#ff9480;
    fill-opacity:0.90588236;
}
.ontustik{
    fill:#f3b63f;
    fill-opacity:0.90588235;
}
.north{
    fill:#c5bf7c;
    fill-opacity:0.90588236;
}
.shygys{
    fill:#7ea9d4;
    fill-opacity:0.90588236;
}

.selected{
    fill: forestgreen;
    fill-opacity:0.80588236;
}

.reg_name {
    fill: white;
    font-size: 17px;
    display: block;
}

.prof_card {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 25px 20px 25px 25px;
    margin-top: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.prof_name {
    font-size: 28px;
    font-weight: 500;
    color: #2b2d38;
    /* color: #3b3e4d; */
}
.spec_name{
    color: #0C090A;
    font-weight: 400;
}
.spec_descr{
    color: #3b3e4d;
    font-weight: 300;
}

.about_univ{
    font-size: 17px;
    font-weight: 400;
}
ul {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
ol {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.disabled-link{
    pointer-events: none;
}
.disabled-path {
    fill: grey;
    fill-opacity:0.80588236;
}