
/* // SUBJECTS */
.subheader{
    height: 400px;
    background: url('../images/new_sub/pic_subjects.jpg') center center / cover no-repeat;
}

/* .subheader *{
    color: white;
}
.subheader h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}
.subheader h2{
    font-weight: 400;
    font-size: 26px;

} */


.subjects_text{
    color: black;
}

.subjects{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-link{
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.card-link h5{
    font-size: 15px;
}
.card-link .card_img{
    margin-top: 50px;
}
.card-link .title {
    margin-top: 20px;
}
.first{
    margin-left: 1.25rem;
}
.selected{
    border: 1px solid rgba(34,157,214,0.5);
}
.unselectable{
    cursor: default;
    background-color: rgba(85, 84, 84, 0.3);
}
